# Python系
__pycache__/
*.pyc
.ipynb_checkpoints/

# データセット
dataset/
*data.zip

# 学習済み重み 
# 学習済み重み (Saved in weights/)
# weights/  <- allowed
# *.pth     <- allowed

# 環境設定
.env
.venv/

# wandb
wandb/
*.wandb
.wandb
artifacts/wandb/

# OS
.DS_Store

# Anomalib outputs
results/
datasets/
dataset_export/

# archived files (Allow archive, but ignore large contents)
archive/datasets/
archive/results/
archive/pre_trained/
archive/efficient_pretrained/
archive/.venv/